In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Titanic_original.csv')

In [3]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [4]:
df.rename(columns={'Survived':'Target'},inplace=True)

In [5]:
Pred_features=pd.DataFrame([])
Pred_features['Sex'],Pred_features['Age'],Pred_features['Fare']=df['Sex'],df['Age'],df['Fare']

When whole ship is sinking, no matter what is the PassengerID, Pclass, Name, Ticket, Cabin, Embarked. The only thing that matters is your physical, mental status and the fare price that might give you better chance to leave early the ship.

In [6]:
df2=df.drop(columns={'PassengerId','Pclass','Name','SibSp','Parch','Ticket','Cabin','Embarked'})

In [7]:
df2.head(3)

   Target     Sex   Age     Fare
0       0    male  22.0   7.2500
1       1  female  38.0  71.2833
2       1  female  26.0   7.9250

In [8]:
arr_s=pd.factorize(df2.Sex.unique())
for i in range(0,len(arr_s[0])):
    df2.Sex.replace(arr_s[1][i],arr_s[0][i],inplace=True)
# df2.Sex=df2.Sex.fillna(0)

In [9]:
df2=df2.fillna(0)

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(df2[['Sex','Age','Fare']],df2['Target'],test_size=0.3)

In [16]:
Regression_model=LogisticRegression()
Regression_model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [18]:
Regression_model.score(x_train,y_train),Regression_model.score(x_test,y_test)

(0.797752808988764, 0.75)